.qualification_container {
    max-width: 768px;
    
}

.qualification_tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualification_button {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.qualification_button:hover {
    color: var(--first-color);
}

.qualification_icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification_active {
    color: var(--first-color);
}

.qualification_sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification_content {
    display: none;
}

.qualification_content_active {
    display: block;
}

.qualification_data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    
}
.qualification_main_data{
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    -webkit-border: 1px solid var(--border-color);
    -moz-border: 1px solid var(--border-color);
    -ms-border: 1px solid var(--border-color);
    -o-border: 1px solid var(--border-color);
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    
    padding: 1rem 1.25rem;
}

.qualification_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification_subtitle {
    font-size: var(--small-font-size);
    display: inline-block;
    margin-bottom: var(--mb-1);
}

.qualification_calendar {
    font-size: var(--small-font-size);
    display: flex;
    column-gap: 0.2rem;
}

.qualification_rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.qualification_line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
    -webkit-transform: translate(6px, -7px);
    -moz-transform: translate(6px, -7px);
    -ms-transform: translate(6px, -7px);
    -o-transform: translate(6px, -7px);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 992px ) {
    .qualification_content{
        width: max-content;
    }
    .qualification_container {
        margin-left: auto;
        margin-right: auto;
    }
}
/* For large devices */
@media screen and (max-width: 992px ) {
    .qualification_content{
        width: max-content;
    }
    .qualification_container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .qualification_content{
        width: max-content;
    }
    
    .qualification_main_data{
        padding: 0.5rem 0.5rem;
        
    }
    .qualification_title{
        font-size: 0.7rem;
    }
    .qualification_subtitle{
        font-size: 0.7rem;
    }
    .qualification_calendar{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 576px) {
    .qualification_content{
        width: fit-content;
    }
    .qualification_container{
        margin-left: 0;
        margin-right: 0;
    }
    .qualification_sections {
        grid-template-columns: initial;
    }

    .qualification_button {
        margin: 0 var(--mb-0-75);
    }

    .qualification_main_data{
        padding: 0.5rem 0.5rem;
    }
    .qualification_title{
        font-size: 0.7rem;
    }
    .qualification_subtitle{
        font-size: 0.7rem;
    }
    .qualification_calendar{
        font-size: 0.7rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .qualification_content{
        width: fit-content;
    }
    .qualification_container{
        margin-left: 0;
        margin-right: 0;
    }
    .qualification_data {
        gap: 0.5rem;
    }

    .qualification_sections {
        grid-template-columns: initial;
    }

    .qualification_main_data{
        padding: 0.5rem 0.5rem;
    }
    .qualification_title{
        font-size: 0.7rem;
    }
    .qualification_subtitle{
        font-size: 0.7rem;
    }
    .qualification_calendar{
        font-size: 0.7rem;
    }

}