.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--z-fixed);
}

.intro {
    max-width: 520px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.home_img {
    width: 165px;
    height: 190px;
    margin-bottom: 1.5rem;
}

.home_name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    width: 100%;
}

.home_social_link {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.home_social_link:hover {
    color: var(--first-color);
}

.scroll_down {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.home_scroll_name {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.home_type_Writter {
    color: var(--first-color);
    font-weight: var(--font-bold);
}

.mouse {
    border: 2px solid #303030;
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    position: relative;
}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    50% {
        top: 60%;
    }

    50% {
        top: 60%;
    }

    100% {
        top: 29%;
    }
}

.wheel {
    background-color: var(--title-color);
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
    -webkit-animation: ani-mouse 2s linear infinite;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .intro {
        margin-bottom: 3rem;
    }
    .home_social_link {
        font-size: var(--h2-font-size);
    }
}
/* For medium devices */
@media screen and (max-width: 768px) {
    .intro {
        margin-bottom: 5rem;
    }

    .home {
        position: relative;
        min-height: 90vh;
    }
    .home_social_link {
        font-size: var(--h2-font-size);
    }
}

@media screen and (max-width: 576px) {
    .intro {
        margin-bottom: 5rem;
    }
    .home {
        position: relative;
        min-height: 90vh;
    }
    .home_social_link {
        font-size: var(--h2-font-size);
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .intro {
        margin-bottom: 5rem;
    }
    .home {
        position: relative;
        min-height: 90vh;
    }
    .home_social_link {
        font-size: var(--h2-font-size);
    }
}